.navbar-links {
  display: flex;
  gap:6rem;
  justify-content: flex-end; /* 明示 */
  align-items: center;
}

.navbar-link {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: var(--accent);
}

/* navbar.css */
.navbar-link {
  padding: 0.25rem 0.5rem;
}
