---
interface Props { type?: 'info'|'warn'|'error' }
const { type = 'info' } = Astro.props as Props;
const color = {
  info:  'bg-blue-800 border-blue-500',
  warn:  'bg-yellow-800 border-yellow-500',
  error: 'bg-red-800 border-red-500',
}[type];
---
<div class={`my-4 border-l-4 p-4 rounded ${color}`}>
  <slot/>
</div>
