---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<div class:list={['border rounded-lg overflow-hidden', className]}>
  <button class="w-full p-4 text-left bg-bg-bg-mid hover:bg-bg-bg-mid/80">
    {title}
  </button>
  <div class="p-4 bg-bg-bg-start">
    <slot />
  </div>
</div> 