---
interface Props {
  tags: string[];
  selectedTag?: string;
}
const { tags, selectedTag = '' } = Astro.props as Props;
---

<div class="mb-4">
  <label for="filter-tag" class="sr-only">タグで絞り込み</label>
  <select
    id="filter-tag"
    class="p-2 border rounded"
    value={selectedTag}
    onchange="location.search = new URLSearchParams({
      ...Object.fromEntries(new URLSearchParams(location.search)),
      tag: this.value,
      page: '1'    /* タグ変更時は必ず 1 ページ目に戻す */
    }).toString()"
  >
    <option value="">すべてのタグ</option>
    {tags.map((t) => (
      <option value={t}>{t}</option>
    ))}
  </select>
</div>
