---
// Navbar.astro
import '@/styles/navbar.css';
---

<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">My Portfolio</a>
    <div class="navbar-links">
      <a href="/structure" class="navbar-link">Structure</a>
      <a href="/proof" class="navbar-link">Proof</a>
      <a href="/story" class="navbar-link">Story</a>
    </div>
  </div>
</nav>
