---
import Card from '@/components/atoms/Card.astro'; // ← これを必ず書く！

const { title, description, link, className } = Astro.props;
---

<Card title={title} link={link} class={className}>
  <p class="text-text-muted">{description}</p>
</Card>
