---
// src/components/molecules/DirectoryTree.astro

interface Props {
  /** 外側に追加したい Tailwind クラス */
  class?: string;
}
const { class: extraClass = '' } = Astro.props as Props;
---
<div class={`overflow-x-auto font-mono text-sm whitespace-pre ${extraClass}`}>
  <pre>
    <slot/>
  </pre>
</div>
