---
import ProofCard from '@/components/molecules/ProofCard.astro';

// ProofItem型を定義
interface ProofItem {
  title: string;
  description: string;
  link: string;
}

const { items } = Astro.props;
---

<div class:list={['grid grid-cols-1 md:grid-cols-2 gap-6']}>
  {items.map((item: ProofItem) => (
    <>
      <ProofCard
        title={item.title}
        description={item.description}
        link={item.link}
        className="h-full"
      />
    </>
  ))}
</div>

