---
import '@/styles/layout.css';

// ここを追加する！
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Astro Portfolio</title>
  </head>
  <body>
    <!-- ここを修正する！ -->
    <main class:list={['site-main', className]}>
      <slot />
    </main>
  </body>
</html>
